body{
    padding: 0;
    margin: 0;
    background-color: #000;
    text-align: center;
    scroll-behavior: smooth;
}
.menu{
    text-align: left;
}
.menu ul {
    display: inline-flex;
   list-style: none;
}
.menu ul li {
    margin: 25px;
    position: relative;
}
.menu ul li a {
    padding: 8px;
    color: yellow;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    border-radius: 20px;
    position: relative;
     
}

.search {
  top: 15px;
  right: 10px;
  position: absolute;
  border: 2px solid yellow; 
}

.search input {
    font-size: 25px;
    border: 1px; solid #fff;
    margin: 8px;
    padding: 8px;
    border-radius: 10px;
}
.content h2 {
   font-size: 60px;
   color: #fff;
   margin-left: 8%;
   margin-top: 4%;
   text-align: left;
   text-shadow: 14px 14px 14px #fff;

}
.content b {
    columns: yellow;
    font-size: 100px;
}
.content p{
    text-align: left;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 20px;
    color: #fff;
}
.photo{
  width: 70%;
  float: right;  
}
.photo img {
    width: 80%;
    margin-top: -250px;
    margin-left: 50px;
    border-radius: 30%;
